<section class="boss" id="boss">
  <div class="wrapper">
    <div class="boss__inner">
      <h5 class="boss__headline">Засновники</h5>
      <ul class="boss__list">
        <li class="boss__item">
          <img src="../img/general/kate-boss.jpg" alt="Катерина фото">
          <p>Катерина</p>
        </li>
        <li class="boss__item">
          <img src="../img/general/ann-boss.jpg" alt="Ганна фото">
          <p>Ганна</p>
        </li>
        <li class="boss__item">
          <img src="../img/general/dmytro-boss.jpg" alt="Дмитро фото">
          <p>Дмитро</p>
        </li>
      </ul>
      <p class="boss__slogan">Професійна команда однодумців🥰</p>
    </div>
  </div>
  <svg class="boss__figure" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214 362" fill="none">
    <path
      d="M213.162 230.319C205.529 291.99 147.963 372.318 51.4181 360.368C-45.1268 348.419 -117.378 335.753 -109.744 274.082C-102.111 212.411 -110.005 -10.6048 -13.46 1.34481C83.0849 13.2944 223.027 140.693 213.162 230.319Z"
      fill="#F9EBC7" />
  </svg>
</section>