<section class="faq">
  <div class="wrapper">
    <div class="faq__inner">
      <h5 class="faq__headline">Швидкі відповіді на питання</h5>
      <ul class="faq__list">
        <li class="faq__item">
          <p class="faq__item-headline">
            Який графік роботи вашого дитячого садочку?
          </p>
          <div class="faq__item-text">
            Наш дитячий садочок працює з 7:30 до 19:00. Якщо є потреба, можлво забрати дитину пізніше за додаткову
            оплату.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Який віковий діапазон дітей, яких ви приймаєте?
          </p>
          <div class="faq__item-text">
            Ми приймаємо дітей віком від 3 до 6 років. Проте якщо дитина готова, то можемо розглянути можливість прийому
            раніше в індивідуальному порядку.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Який ваш підхід до дисципліни і як ви вирішуєте конфлікти між дітьми?
          </p>
          <div class="faq__item-text">
            <p>
              Філософія навчання та підходи виховання нашого закладу базується на Реджіо-педагогіці, з ключовим: повага
              до
              дитини, увага до її інтересів і потреб.
            </p>

            <p>
              Ми навчаємо дітей особистим кордонам, емоційного інтелекту та
              навичок саморегуляції. Індивідуальний підхід до дітей з базовим дотриманням режиму дає дитині почуття
              безпеки, стабільності і стимулює проявляти вільно свій потенціал.
            </p>

            <p>
              Організований психологічний супровід
              садочку, супервізії для вихователів, сімейні консультації батьків.
            </p>
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Які програми виховання і навчання ви використовуєте?
          </p>
          <div class="faq__item-text">
            <p>
              Ми використовуємо програму розвитку дитини дошкільного віку “Я у світі”, яка рекомендована МОН. Вона
              включає: оволодіння базовими навичками, вміннями та знаннями і розвиток емоційного інтелекту, пізнання
              природи, мистецтво, себе у соціумі.
            </p>
            <p>
              До основної програми додано додатково 2 напрямки:
              перший - поглиблена англійська мова;
              другий включає цінність здоров’я дитини: загартовування, фізичні вправи на здорове формування стопи та
              постави дитини, вправ з нейрогімнастики для розвитку і стимуляції мозкової діяльності.
            </p>
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Які додаткові заняття чи кружки ви пропонуєте?
          </p>
          <div class="faq__item-text">
            Ми пропонуємо додаткові заняття
            з англійської мови, арт-терапії, музики, підготовка до школи, заняття з логопедом, консультації психолога.
            Також плануємо організувати регулярні виїзні заходи
            та екскурсії.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Як ви організовуєте харчування дітей? Чи можлива індивідуальна дієта для мого дитяти?
          </p>
          <div class="faq__item-text">
            Ми забезпечуємо збалансоване харчування, розроблене дієтологом. Якщо ваша дитина потребує особливого
            харчування, ми будемо раді обговорити це з вами.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Чи проводяться медичні огляди дітей? Як ви вирішуєте проблеми зі здоров’ям дитини під час перебування в
            садочку?
          </p>
          <div class="faq__item-text">
            Для нас здоров’я - це основна цінність. Вкладаємо час в загартовування дітей, профілактики плоскостопості,
            сколіозу та інших порушень опорно-рухового апарату, нейрогімнастичні вправи. Ми проводимо щоденний огляд
            дітей при їх прибутті, а також співпрацюємо з педіатром. У разі необхідності ми негайно зв’яжемося з вами.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Чи є у вас безпечний відкритий простір для ігор та прогулянок? Які засоби безпеки ви використовуєте?
          </p>
          <div class="faq__item-text">
            Наш садочок розташований в новому приміщенні з новим ремонтом, якісним освітленням, вентиляційною системою,
            відеонагляду для контролю якості роботи
            з дітьми. У нас є безпечний відкритий простір для ігор та прогулянок, обладнаний згідно з нормами безпеки,
            контролю доступу
            до території.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
        <li class="faq__item">
          <p class="faq__item-headline">
            Які ви взаємодієте з батьками? Як часто проводяться зустрічі батьківського комітету?
          </p>
          <div class="faq__item-text">
            Ми вважаємо, що співпраця з батьками - це ключовий елемент виховання дитини. Ми проводимо регулярні зустрічі
            з батьками, організовуємо за запитом зустрічі питання-відповіді з педіатром, психологом, логопедом. Ведемо
            щоденник та фотозвіт для кожної дитини, де залишаються всі важливі моменти дня.
          </div>
          <button class="faq__btn-close">
            <img src="../img/icons/cross.svg" alt="Картинка плюса">
          </button>
        </li>
      </ul>
      <p class="faq__slogan">Маєте питання? Можливо, ви знайдете відповідь тут.</p>
    </div>
  </div>
</section>