</main>

<footer class="footer">
	<div class="wrapper">
		<div class="footer__inner">
			<a href="#" class="footer__logo">
				<img src="../img/icons/logo.svg" alt="Kids Seeds логотип">
			</a>
			<nav class="footer__nav">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="#contacts">контакти</a>
					</li>
					<li class="footer__item">
						<a href="#price">програми</a>
					</li>
					<li class="footer__item">
						<a href="#hero">про нас</a>
					</li>
					<li class="footer__item">
						<a href="#">команда</a>
					</li>
				</ul>
			</nav>
			<a href="#header__logo-link" class="footer__btn-up">
				<svg width="8" height="35" viewBox="0 0 8 53" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M4.35258 0.646446C4.15732 0.451183 3.84073 0.451183 3.64547 0.646446L0.463492 3.82843C0.268229 4.02369 0.268229 4.34027 0.463492 4.53553C0.658754 4.7308 0.975336 4.7308 1.1706 4.53553L3.99903 1.70711L6.82745 4.53553C7.02271 4.7308 7.3393 4.7308 7.53456 4.53553C7.72982 4.34027 7.72982 4.02369 7.53456 3.82843L4.35258 0.646446ZM4.49902 53L4.49903 1L3.49903 1L3.49902 53L4.49902 53Z"
						fill="#3A3939" />
				</svg>
			</a>
		</div>
	</div>
</footer>

<div class="overlay__parttime">
	<div class="popup__parttime">
		<h4 class="headline__parttime">
			Відвідування дитини з 7:30 до 13:00
		</h4>
		<form class="form__parttime">
			<label>
				<span>Імʼя дитини:</span>
				<input type="text" name="kid name" placeholder="Імʼя дитини">
			</label>
			<label>
				<span>Ваш номер телефону:</span>
				<input type="tel" name="phone parent" placeholder="+380934440304">
			</label>
			<input type="submit" value="відправити">
		</form>
		<button class="close__parttime">x</button>
	</div>
</div>

<div class="overlay__day">
	<div class="popup__day">
		<h4 class="headline__day">
			Відвідування дитини з 7:30 до 19:00
		</h4>
		<form class="form__day">
			<label>
				<span>Імʼя дитини:</span>
				<input type="text" name="kid name" placeholder="Імʼя дитини">
			</label>
			<label>
				<span>Ваш номер телефону:</span>
				<input type="tel" name="phone parent" placeholder="+380934440304">
			</label>
			<input type="submit" value="відправити">
		</form>
		<button class="close__day">x</button>
	</div>
</div>

<script src="js/libs/jquery-3.6.0.min.js"></script>