<section class="gallary">
  <div class="wrapper">
    <div class="gallary__inner">
      <h5 class="gallary__headline">Галерея садочку </h5>
      <ul class="gallary__list">
        <li class="gallary__item">
          <img src="../img/general/gallary1.jpg" alt="">
        </li>
        <li class="gallary__item">
          <img src="../img/general/gallary2.jpg" alt="">
        </li>
        <li class="gallary__item">
          <img src="../img/general/gallary3.jpg" alt="">
        </li>
        <li class="gallary__item">
          <img src="../img/general/gallary4.jpg" alt="">
        </li>
        <li class="gallary__item">
          <img src="../img/general/gallary5.jpg" alt="">
        </li>
      </ul>
      <p class="gallary__info">
        Відчуйте нашу атмосферу Kids Seeds
      </p>
      <a href="#form__request" class="gallary__btn">залишити заявку</a>
    </div>
  </div>
</section>