<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@@title</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="Shortcut Icon" type="image/x-icon" href="img/icons/logo.svg" />
	<link rel="stylesheet" href="css/libs/swiper.css">
</head>

<body>
	<header class="header">
		<div class="wrapper">
			<div class="header__inner">
				<nav class="header__navigation">
					<ul class="header__navigation-list">
						<li class="header__navigation-item">
							<a href="#hero">про нас</a>
						</li>
						<li class="header__navigation-item">
							<a href="#price">програми</a>
						</li>
						<li class="header__navigation-item">
							<a href="#boss">команда</a>
						</li>
						<li class="header__navigation-item">
							<a href="#contacts">контакти</a>
						</li>
					</ul>
				</nav>
				<div class="header__logo">
					<a href="#" class="header__logo-img" id="header__logo-link">
						<img src="../img/icons/logo.svg" alt="kids seeds логотип">
					</a>
					<div class="header__logo-contacts">
						<a href="tel:+380993996754" class="header__phone">+38 (099) 399 67 54</a>

						<a href="#" class="header__fb">
							<img src="../img/icons/fb.svg" alt="facebook іконка">
						</a>
						<a href="#" class="header__inst">
							<img src="../img/icons/inst.svg" alt="instagram іконка">
						</a>

					</div>
					<div class="header__link-wrapper">
						<a href="#" class="header__logo-link">записатись</a>
						<svg viewBox="0 0 42 8" fill="none">
							<path
								d="M41.3536 4.35355C41.5488 4.15829 41.5488 3.84171 41.3536 3.64645L38.1716 0.464466C37.9763 0.269204 37.6597 0.269204 37.4645 0.464466C37.2692 0.659728 37.2692 0.976311 37.4645 1.17157L40.2929 4L37.4645 6.82843C37.2692 7.02369 37.2692 7.34027 37.4645 7.53553C37.6597 7.7308 37.9763 7.7308 38.1716 7.53553L41.3536 4.35355ZM0 4.5H41V3.5H0V4.5Z"
								fill="#3A3939" />
						</svg>
					</div>
				</div>
				<button class="header__burger">
					<img src="../img/icons/burger.svg" alt="мобільне меню відкрити" data-open>
					<img src="../img/icons/cross.svg" alt="мобільне меню закрити" data-close>
				</button>
				<ul class="header__mobile-menu">
					<li class="header__mobile-item">
						<a href="#hero">про нас</a>
					</li>
					<li class="header__mobile-item">
						<a href="#price">програми</a>
					</li>
					<li class="header__mobile-item">
						<a href="#">команда</a>
					</li>
					<li class="header__mobile-item">
						<a href="#contacts">контакти</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main class="main">