<section class="hero" id="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <h1 class="hero__headline hero__anim">Дитячий садочок Kids-Seeds</h1>
      <div class="hero__mobile">
        <p class="hero__info hero__anim">
          Гармонійний розвиток, набуття самостійності, потік яскравих переживань,
          які формують щасливу особистість
        </p>
        <div class="hero__mobile-info">
          <div class="hero__img hero__anim">
            <img src="../img/general/sunflower.jpg" alt="photo">
          </div>
          <div class="hero__img-btns hero__anim">
            <img src="../img/general/kid-play.jpg" alt="photo">
            <div class="hero__btn-enroll">
              <a href="#form__request">записатись</a>
              <p>*залишилось 7 місць</p>
            </div>
            <div class="hero__brn-call">
              <a href="#form__request">замовити дзвінок</a>
              <p>*ми зв’яжемось з вами за 30 хвилин</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__desktop">
        <div class="hero__desktop-left">
          <p class="hero__desktop-slogan hero__anim">
            Гармонійний розвиток, набуття самостійності, потік яскравих переживань, які формують щасливу особистість
          </p>
          <div class="hero__desktop-writing">
            <img src="../img/general/sunflower.jpg" alt="фото соняшника" class="hero__sunflower hero__anim">
            <div class="hero__desktop-writing-right hero__anim">
              <img src="../img/general/kid-play.jpg" alt="фото дитини що грає">
              <a href="#form__request">записатись</a>
              <p>*залишилось 7 місць</p>
            </div>
          </div>
        </div>
        <div class="hero__desktop-right">
          <div class="hero__call hero__anim">
            <div class="hero__call-front">
              <div class="hero__call-front--img">
                <img src="../img/general/front.jpg" alt="Фото фасаду">
              </div>


              <p><svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 384 512">
                  <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                </svg> требухів</p>
            </div>
            <div class="hero__call-kids hero__anim">
              <img src="../img/general/kids-spike.jpg" alt="фото розпису">
              <a href="#form__request">замовити дзвінок</a>
              <p>*ми зв’яжемось з вами за 30 хвилин</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>