<section class="kids">
  <div class="wrapper">
    <div class="kids__inner">
      <h2 class="kids__headline">Чому саме Kids Seeds?</h2>
      <ul class="kids__benefits">
        <li class="kids__benefits-item">
          <img src="../img/general/engl.jpg" alt="kids photo">
          <p>
            англійська
            мова
          </p>
        </li>
        <li class="kids__benefits-item">
          <img src="../img/general/health.jpg" alt="kids photo">
          <p>
            загартовування
            здоров’я
          </p>
        </li>
        <li class="kids__benefits-item">
          <img src="../img/general/online.jpg" alt="kids photo">
          <p>
            онлайн
            відеонагляд
          </p>
        </li>
        <li class="kids__benefits-item">
          <img src="../img/general/travels.jpg" alt="kids photo">
          <p>
            подорожі
            та екскурсії
          </p>
        </li>
        <li class="kids__benefits-item">
          <img src="../img/general/library.jpg" alt="kids photo">
          <p>
            дитяча
            бібліотека
          </p>
        </li>
      </ul>
      <p class="kids__subtext">Сучасне, дружнє, мотивуючє середовище
        для навчання та розвитку дитини.</p>


    </div>
  </div>
  <svg class="kids__figure" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 208 353" fill="none">
    <path
      d="M207.275 209.173C205.62 271.292 137.951 356.31 3.42595 352.725C-131.099 349.14 -232.307 342.747 -230.651 280.628C-228.996 218.508 -271.841 -3.06914 -137.316 0.515766C-2.79067 4.10067 207.992 119.001 207.275 209.173Z"
      fill="#F9EBC7" />
  </svg>
  <svg class="kids__figure-pc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 803" fill="none">
    <path
      d="M959.661 482.043C955.917 622.55 739.942 813.172 306.161 801.612C-127.62 790.053 -454.064 772.993 -450.319 632.487C-446.575 491.98 -590.38 -10.4475 -156.599 1.11219C277.182 12.6719 959.661 278.043 959.661 482.043Z"
      fill="#F9EBC7" />
  </svg>
</section>