<section class="map" id="contacts">
  <div class="wrapper">
    <div class="map__inner">
      <h5 class="map__headline hidden">контакти</h5>
      <a href="https://goo.gl/maps/BPnuwzkBowtuuJoF6" target="_blank" class="map__adress">Требухів, Броварський р-н</a>
      <div class="map__contact">
        <ul class="map__social">
          <li class="map__social-item">
            <a href="#">
              <img src="../img/icons/fb.svg" alt="facebook іконка">
            </a>
          </li>
          <li class="map__social-item">
            <a href="#">
              <img src="../img/icons/inst.svg" alt="instagram іконка">
            </a>
          </li>
        </ul>
        <div class="map__contact-info">
          <a href="tel:+380993996754">+38 (099) 399 67 54</a>
          <a href="mailto:kids.seeds.info@gmail.com">kids.seeds.info@gmail.com</a>
        </div>
      </div>

    </div>
  </div>
</section>