<section class="price" id="price">
  <div class="wrapper">
    <div class="price__inner">
      <h4 class="price__headline">Варіанти та вартість відвідування</h4>
      <ul class="price__list">
        <li class="price__item">
          <div class="price__item-info">
            <h5>Відвідування дитини з 7:30 до 13:00</h5>
            <ul class="price__item-list">
              <li>розвиваючі заняття за розкладом</li>
              <li>загартовування</li>
              <li><strong>1 прогулянка</strong> на свіжому повітрі</li>
              <li>онлайн відеонагляд</li>
              <li><strong>3-х разове</strong> харчування</li>
            </ul>
            <a href="part-time.html" class="price__btn-link">розпорядок дня</a>
            <div class="price__sum">
              <strong>9000 UAH</strong>
              <p>/ на місяць</p>
            </div>
          </div>
          <button class="price__item-btn price__item-btn--parttime">обрати тариф</button>
        </li>
        <li class="price__item">
          <div class="price__item-info">
            <h5>Відвідування дитини з 7:30 до 19:00</h5>
            <ul class="price__item-list">
              <li>розвиваючі заняття за розкладом</li>
              <li>загартовування</li>
              <li><strong>2 прогулянки</strong> на свіжому повітрі</li>
              <li>онлайн відеонагляд</li>
              <li><strong>5-ти разове</strong> харчування</li>
            </ul>
            <a href="fullday.html" class="price__btn-link">розпорядок дня</a>
            <div class="price__sum">
              <strong>12 500 UAH</strong>
              <p>/ на місяць</p>
            </div>
          </div>
          <button class="price__item-btn price__item-btn--day">обрати тариф</button>
        </li>
      </ul>
      <p class="price__subtext">
        Знання засновників дитячого простору Kids-Seeds в галузі педагогіки, психології та медицини є основою
        для впровадження комплексного підходу,
        метою якого є різнобічний розвиток дитини в гармонії
        з оточуючим світом і собою.
      </p>
    </div>
  </div>
</section>