<section class="request" id="form__request">
  <div class="wrapper">
    <div class="request__inner">
      <h5 class="request__headline" id="form__headline">Залишти заявку</h5>
      <div class="request__qr">
        <p class="request__qr-text">
          отримайте безкоштовний
          гайд на тему:
          <strong>“Як адаптувати дитину до дитячого садочка”</strong>
        </p>
        <div class="request__qr-wrapper">
          <a class="request__guide" target="_blank"
            href="https://drive.google.com/file/d/1vnHksiU8usZDieQWnCaKZaEL7-XfP7dA/view">Отримати гайд</a>
        </div>

      </div>
      <div class="request__form">
        <form class="form__application">
          <label class="form__application-name">
            <span class="form__name">Ім’я дитини</span>
            <input type="text" name="name" placeholder="Валерія Михайленко">
          </label>
          <label class="form__application-phone">
            <span class="form__phone">Ваш номер телефону</span>
            <input type="tel" name="phone" placeholder="+380_ _  _ _ _  _ _  _ _">
          </label>
          <input class="form__submit" type="submit" value="надіслати заявку">
        </form>
        <div class="request__info">
          <h6 class="request__info-headline">Та отримайте:</h6>
          <ul class="request__list">
            <li class="request__item">вступний пакет про нашу програму та педагогічний підхід садочку Kids Seeds</li>
            <li class="request__item">книгу для батьків</li>
            <li class="request__item">сертифікат на пробний (тестовий) день в садочку</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>