<main class="day">
  <div class="wrapper">
    <div class="day__inner">
      <h1 class="day__headline">Наш типовий день</h1>
      <ul class="day__list">
        <li class="day__item">
          <span>7:30-8:30</span>
          <p>Зустріч дітей. Оздоровча гімнастика. Ранкове коло</p>
        </li>
        <li class="day__item">
          <span>8:30-9:00</span>
          <p>Сніданок</p>
        </li>
        <li class="day__item">
          <span>9:00-9:30</span>
          <p>Розвиваюче заняття за розкладом</p>
        </li>
        <li class="day__item">
          <span>9:30-10:00</span>
          <p>Вільна гра</p>
        </li>
        <li class="day__item">
          <span>10:00-10:15</span>
          <p>Фруктовий перекус</p>
        </li>
        <li class="day__item">
          <span>10:15-10:45</span>
          <p>Розвиваюче заняття за розкладом </p>
        </li>
        <li class="day__item">
          <span>11:00-12:15</span>
          <p>На свіжому повітрі. Загартовування.</p>
        </li>
        <li class="day__item">
          <span>12:30-13:00</span>
          <p>Обід</p>
        </li>
        <li class="day__item">
          <span>13:00-13:30</span>
          <p>Підготовка до відпочинку. Розвиваючі казки. Казкотерапія.</p>
        </li>
        <li class="day__item">
          <span>13:30-15:30</span>
          <p>Відпочинок, денний сон</p>
        </li>
        <li class="day__item">
          <span>15:30-16:00</span>
          <p>Пробудження, оздоровча гімнастика</p>
        </li>
        <li class="day__item">
          <span>16:00-16:10</span>
          <p>Перекус</p>
        </li>
        <li class="day__item">
          <span>16:15-16:45</span>
          <p>Розвиваюче заняття за розкладом</p>
        </li>
        <li class="day__item">
          <span>17:00-17:30</span>
          <p>Розвиваюче заняття за розкладом</p>
        </li>
        <li class="day__item">
          <span>17:30-18:00</span>
          <p>Вечеря</p>
        </li>
        <li class="day__item">
          <span>18:00-19:00</span>
          <p>Вільна гра на свіжому повітрі</p>
        </li>
      </ul>
      <div class="social">
        <a href="tel:+380993996754" class="social__phone">+38 (099) 399 67 54</a>
        <ul class="social__list">
          <li><a href="#"><img src="../img/icons/fb.svg" alt="facebook"></a></li>
          <li><a href="#"><img src="../img/icons/inst.svg" alt="facebook"></a></li>
        </ul>
      </div>
    </div>
  </div>
</main>