@import "../core";

.kids {
  padding-bottom: 90px;
  position: relative;
  z-index: 2;


  &__headline {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;

    @include minw($lg) {
      font-size: 48px;
    }
  }

  &__benefits {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 2;

    @include minw($lg) {
      margin-bottom: 100px;
    }
  }

  &__benefits-item {
    position: relative;
    max-width: 100px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    @include minw($lg) {
      max-width: 300px;
      max-height: 300px;
      border-radius: 50px;
    }

    p {
      padding: 5px;
      max-width: 100px;
      min-height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      width: 100%;
      background-color: #fff;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      line-height: 0.9;
      font-size: 10px;
      text-align: center;
      word-wrap: break-word;

      @include minw($lg) {
        padding: 28px;
        max-width: 365px;
        min-height: 100px;
        font-size: 24px;
      }
    }
  }

  &__subtext {
    position: relative;
    margin-left: auto;
    padding: 13px 0 13px 25px;
    font-size: 10px;
    max-width: 276px;
    z-index: 2;
    line-height: 1.3;
    background-color: rgba(215, 211, 211, 0.26);
    backdrop-filter: blur(50px);

    @include minw($lg) {
      max-width: 958px;
      font-size: 36px;
      margin-left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      right: -100%;
      top: 0;
      background-color: rgba(215, 211, 211, 0.26);
      backdrop-filter: blur(50px);

      @include minw($lg) {
        left: -100%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -24px;
      left: -31px;
      display: block;
      width: 50px;
      height: 95px;
      background-image: url('../../img/general/spike-left.png');

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include minw($lg) {
        background-image: url('../../img/general/spike-right.png');
        top: -34px;
        right: -40px;
        left: auto;
        width: 81px;
        height: 162px;
      }
    }
  }

  &__figure {
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 208px;
    height: 353px;
    z-index: 1;

    @include minw($lg) {
      display: none;
    }
  }

  &__figure-pc {
    display: none;

    @include minw($lg) {
      display: block;
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 960px;
      height: 803px;
      z-index: 1;
    }
  }
}