@import "../core";

.price {
  &__headline {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;

    @include minw($lg) {
      margin-bottom: 100px;
      max-width: 840px;
      font-size: 48px;
    }
  }

  &__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include minw($lg) {
      margin-bottom: 70px;
      flex-direction: row;
      justify-content: center;
      gap: 42px;
    }
  }

  &__item {
    max-width: 270px;
    width: 100%;

    @include minw($lg) {
      max-width: 610px;
    }
  }

  &__item-info {
    padding: 29px 25px;
    border-radius: 20px;
    border: 1px solid #A9B388;
    background: #FFF;

    @include minw($lg) {
      padding: 74px;
    }

    h5 {
      margin-bottom: 42px;
      max-width: 160px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 14px;

      @include minw($lg) {
        margin-bottom: 66px;
        max-width: 400px;
        font-size: 36px;
      }
    }
  }

  &__item-list {
    margin-bottom: 42px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include minw($lg) {
      margin-bottom: 160px;
      gap: 15px;
    }

    li {
      position: relative;
      font-size: 12px;

      @include minw($lg) {
        font-size: 24px;
      }

      &:after {
        content: '•';
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        font-size: 30px;
      }
    }
  }

  &__btn-link {
    margin-bottom: 18px;
    display: block;
    padding: 8px 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #999696;
    background: $green;
    color: $white;
    text-decoration: none;

    @include minw($lg) {
      margin-bottom: 80px;
      padding: 16px;
      font-size: 36px;
    }
  }

  &__sum {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    strong {
      font-size: 20px;

      @include minw($lg) {
        font-size: 36px;
      }
    }

    p {
      font-size: 12px;

      @include minw($lg) {
        font-size: 24px;
      }
    }
  }

  &__item-btn {
    margin-top: 10px;
    padding: 14px;
    max-width: 270px;
    width: 100%;
    font-size: 20px;
    color: $white;
    text-align: center;

    border-radius: 10px;
    border: 1px solid #999696;
    background: $green;

    &:hover {
      cursor: pointer;
    }

    @include minw($lg) {
      max-width: 610px;
      margin-top: 20px;
      padding: 45px;
      font-size: 36px;
      border-radius: 30px;
    }
  }

  &__subtext {
    margin: 0 auto;
    max-width: 283px;
    font-size: 10px;

    @include minw($lg) {
      max-width: 1262px;
      font-size: 36px;
      font-weight: 300;
      line-height: 1.3;
    }
  }
}